{% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl" >

<head >
     
    


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
<title> ورود</title>
<link rel="canonical" href="https://thealibigdeli.ir/accounts/login/" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <link rel="stylesheet" href="{% static 'CACHE/css/output.3fa56390339e.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'custom-font-awesome-fix.css' %}" type="text/css">

    
    
    

    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon/favicon.ico' %}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">

    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-CKLL2N4SXV"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', `G-CKLL2N4SXV`);
</script>

</head>

<body>

    <!-- **************** MAIN CONTENT START **************** -->
    <main>
        
<section class="p-0 d-flex align-items-center position-relative overflow-hidden">

    <div class="container-fluid">
        <div class="row">
            <!-- left -->
            <div
                class="d-none d-sm-block col-12 col-lg-6 d-md-flex align-items-center justify-content-center bg-primary bg-opacity-10 vh-lg-100 ">
                <div class="p-3 p-lg-5">
                    <!-- Title -->
                    <div class="text-center">
                        <h2 class="fw-bold fs-3">دسترسی هات رو گسترش بده</h2>
                        <p class="mb-0 h6 fw-light">بیایید امروز چیز جدیدی یاد بگیریم!</p>
                    </div>
                    <!-- SVG Image -->
                    <img src="/static/images/element/02.svg" class="mt-5" alt="">
                    <!-- Info -->

                </div>
            </div>
            <!-- Right -->
            <div class="col-12 col-lg-6 m-auto">
                <div class="row my-5">
                    <div class="col-sm-10 col-xl-8 m-auto">
                        <!-- Title -->
                        <div class="text-center">
                            <h1 class="fs-4">ورود به حساب کاربری</h1>
                            <p class="mb-4">از دیدن شما خوشحالم! لطفا با حساب کاربری خود وارد شوید.</p>
                        </div>
                        <!-- Form START -->
                        <form class=" mx-lg-5" method="POST" action=".">
                            <script src="https://www.google.com/recaptcha/api.js?render=6LcFJzEnAAAAAI-8hoShDg728nMCH3kCXjv5Cjwa"></script>
<script type="text/javascript">
    var element
    grecaptcha.ready(function() {
        element = document.querySelector('.g-recaptcha[data-widget-uuid="aa70a2595df34160b150a50fdff0d8fb"]');
        element.form.addEventListener('submit', recaptchaFormSubmit);
    });
    function recaptchaFormSubmit(event) {
        event.preventDefault();
        grecaptcha.execute('6LcFJzEnAAAAAI-8hoShDg728nMCH3kCXjv5Cjwa', {action: 'form'})
        .then(function(token) {
            console.log("reCAPTCHA validated for 'data-widget-uuid=\"aa70a2595df34160b150a50fdff0d8fb\"'. Setting input value...")
            element.value = token;
            element.form.submit();
        });
    }
</script>
<input class="g-recaptcha"
    type="hidden"
    name="captcha"
     required_score="0.5" data-sitekey="6LcFJzEnAAAAAI-8hoShDg728nMCH3kCXjv5Cjwa" required id="id_captcha" data-widget-uuid="aa70a2595df34160b150a50fdff0d8fb" data-callback="onSubmit_aa70a2595df34160b150a50fdff0d8fb" data-size="normal">
                            <input type="hidden" name="csrfmiddlewaretoken" value="VbtNjfkRwAYalO4QCrQYwZVgos5uNEwhes7EzskHAtX9bpuSLdaSlsK2pJTnMZXw">
                            <input type="hidden" name="next" value="" />
                            <!-- Email -->
                            <div class="mb-4">
                                <label for="exampleInputEmail1" class="form-label">ایمیل *</label>
                                <div class="input-group input-group-lg">
                                    <span
                                        class="input-group-text bg-light rounded-start border-0 text-secondary px-3"><i
                                            class="fas fa-envelope"></i></span>
                                    <input type="email" class="form-control border-0 bg-light rounded-end ps-1 text-center"
                                        placeholder="***@gmail.com" name="username">
                                </div>
                            </div>
                            <!-- Password -->
                            <div class="mb-4">
                                <label for="inputPassword5" class="form-label">رمز عبور *</label>
                                <div class="input-group input-group-lg">
                                    <span
                                        class="input-group-text bg-light rounded-start border-0 text-secondary px-3"><i
                                            class="fas fa-lock"></i></span>
                                    <input type="password" class="form-control border-0 bg-light rounded-end ps-1 text-center"
                                        placeholder="********" name="password">
                                </div>

                            </div>
                            <!-- Check box -->
                            <div class="mb-4 d-flex justify-content-between mb-4">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">مرا به خاطر بسپار</label>
                                </div>
                                <div class="text-primary-hover">
                                    <a href="/accounts/password_reset/" class="text-secondary">
                                        <u>رمز خود را فراموش کرده اید؟</u>
                                    </a>
                                </div>
                            </div>
                            <!-- Button -->
                            <div class="align-items-center mt-0">
                                <div class="d-grid">
                                    <button class="btn btn-primary mb-0" type="submit">ورود</button>
                                </div>
                            </div>
                        </form>
                        <!-- Form END -->

                        <!-- Social buttons and divider -->
                        <div class="row">
                            <!-- Divider with text -->
                            <div class="position-relative my-4">
                                <hr>
                                <p class="small position-absolute top-50 start-50 translate-middle bg-body px-5">یـا</p>
                            </div>

                            <!-- Social btn -->
                            <div class="col-xxl-6 d-grid">
                                <a href="/accounts/socials/google/login" class="btn bg-google mb-2 mb-xxl-0 bg-danger"><i
                                        class="fab fa-fw fa-google text-white me-2"></i>ورود با Google</a>
                            </div>
                            <!-- Social btn -->
                            <div class="col-xxl-6 d-grid">
                                <a href="/accounts/socials/github/login" class="btn bg-facebook mb-0 bg-dark disabled" ><i
                                        class="fab fa-fw fa-github me-2"></i>ورود با
                                    Github</a>
                            </div>
                        </div>

                        <!-- Sign up link -->
                        <div class="mt-4 text-center">
                            <span>حساب کاربری ندارید؟ <a href="/accounts/signup/">ثبت نام</a></span>
                        </div>
                        <div class="mt-4 text-center">
                            <span><a class="btn btn-primary btn-sm" href="/"> بازگشت به وبسایت</a></span>
                        </div>
                    </div>
                </div> <!-- Row END -->
            </div>
        </div> <!-- Row END -->
    </div>
</section>


    </main>

    <script src="{% static 'CACHE/js/output.637c399a1021.js' %}"></script>
    
    <script src="https://www.google.com/recaptcha/api.js?render=6LcFJzEnAAAAAI-8hoShDg728nMCH3kCXjv5Cjwa"></script>
    
    


</body>



</html>