{% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl" >

<head >
     
    


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
<title> فراموشی رمز عبور</title>

<link rel="stylesheet" href="{% static 'vendor/font-awesome/css/all.min.css' %}">


<link rel="stylesheet" href="{% static 'CACHE/css/output.3fa56390339e.css' %}" type="text/css">

    
    
    

    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon/favicon.ico' %}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">

    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-CKLL2N4SXV"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', `G-CKLL2N4SXV`);
</script>

</head>

<body>

    <!-- **************** MAIN CONTENT START **************** -->
    <main>
        


<section class="p-0 d-flex align-items-center position-relative overflow-hidden">

    <div class="container-fluid">
        <div class="row">
            <!-- left -->
            <div
                class="d-none d-sm-block  col-12 col-lg-6 d-md-flex align-items-center justify-content-center bg-primary bg-opacity-10 vh-lg-100">
                <div class="p-3 p-lg-5">
                    <!-- Title -->
                    <div class="text-center">
                        <h2 class="fw-bold fs-3">بزار کمکت کنم</h2>
                        <p class="mb-0 h6 fw-light">چه کمکی می تونم امروز بهت بکنم؟</p>
                    </div>
                    <!-- SVG Image -->
                    <img src="{% static 'images/element/02.svg' %}" class="mt-5" alt="">
                    <!-- Info -->

                </div>
            </div>
            <!-- Right -->
            <div class="col-12 col-lg-6 d-flex justify-content-center">
                <div class="row my-5">
                    <div class="col-sm-10 col-xl-12 m-auto">

                        <!-- Title -->
                        <span class="mb-0 fs-1">🤔</span>
                        <h1 class="fs-4">فراموشی رمز عبور</h1>
                        <h5 class="fw-light mb-4">برای دریافت رمز عبور جدید، آدرس ایمیل خود را وارد کنید.</h5>

                        <!-- Form START -->
                        <form class=" mx-lg-5" method="POST" action=".">
                            <script src="https://www.google.com/recaptcha/api.js?render=6LcFJzEnAAAAAI-8hoShDg728nMCH3kCXjv5Cjwa"></script>
<script type="text/javascript">
    var element
    grecaptcha.ready(function() {
        element = document.querySelector('.g-recaptcha[data-widget-uuid="17384f42e12d45f08460946518c69e0c"]');
        element.form.addEventListener('submit', recaptchaFormSubmit);
    });
    function recaptchaFormSubmit(event) {
        event.preventDefault();
        grecaptcha.execute('6LcFJzEnAAAAAI-8hoShDg728nMCH3kCXjv5Cjwa', {action: 'form'})
        .then(function(token) {
            console.log("reCAPTCHA validated for 'data-widget-uuid=\"17384f42e12d45f08460946518c69e0c\"'. Setting input value...")
            element.value = token;
            element.form.submit();
        });
    }
</script>
<input class="g-recaptcha"
    type="hidden"
    name="captcha"
     required_score="0.5" data-sitekey="6LcFJzEnAAAAAI-8hoShDg728nMCH3kCXjv5Cjwa" required id="id_captcha" data-widget-uuid="17384f42e12d45f08460946518c69e0c" data-callback="onSubmit_17384f42e12d45f08460946518c69e0c" data-size="normal">
                            <input type="hidden" name="csrfmiddlewaretoken" value="RXU618YrQhNTNE3NgAvA4za1pUE0vrNDaeyXhlYhUaMSDftPpmPuT2ZNqbsTuMeS">
                            <!-- Email -->
                            <div class="mb-4">
                                <label for="exampleInputEmail1" class="form-label">ایمیل *</label>
                                <div class="input-group input-group-lg">
                                    <span
                                        class="input-group-text bg-light rounded-start border-0 text-secondary px-3"><i
                                            class="fas fa-envelope"></i></span>
                                    <input type="email" name="email"
                                        class="form-control border-0 bg-light rounded-end ps-1"
                                        placeholder="***@gmail.com" id="exampleInputEmail1">
                                </div>
                            </div>
                            <!-- Button -->
                            <div class="align-items-center">
                                <div class="d-grid">
                                    <button class="btn btn-primary mb-0" type="submit">ارسال رمز</button>
                                </div>
                                <div class="mt-4 text-center">
                                    <a class="link link-light" href="/"> بازگشت به وبسایت</a>
                                </div>
                            </div>
                        </form>
                        <!-- Form END -->
        
                    </div>
                    
                </div> <!-- Row END -->
                
            </div>
        </div> <!-- Row END -->
    </div>
</section>



    </main>

    <script src="{% static 'CACHE/js/output.637c399a1021.js' %}"></script>
    
    <script src="https://www.google.com/recaptcha/api.js?render=6LcFJzEnAAAAAI-8hoShDg728nMCH3kCXjv5Cjwa"></script>
    
    


</body>



</html>
