


{% load static %}


<!DOCTYPE html>
<html lang="fa" dir="rtl" >

<head >
     
    


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
<title> ثبت نام</title>

<link rel="stylesheet" href="{% static 'vendor/font-awesome/css/all.min.css' %}">

    <link rel="stylesheet" href="{% static 'CACHE/css/output.3fa56390339e.css' %}" type="text/css">

    
    
    

    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon/favicon.ico' %}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">

    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-CKLL2N4SXV"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', `G-CKLL2N4SXV`);
</script>

</head>

<body>

    <!-- **************** MAIN CONTENT START **************** -->
    <main>
        

<section class="p-0 d-flex align-items-center position-relative overflow-hidden">

    <div class="container-fluid">
        <div class="row">
            <!-- left -->
            <div
                class="d-none d-sm-block  col-12 col-lg-6 d-md-flex align-items-center justify-content-center bg-primary bg-opacity-10 vh-lg-100">
                <div class="p-3 p-lg-5">
                    <!-- Title -->
                    <div class="text-center">
                        <h2 class="fw-bold fs-3">دسترسی هات رو بیشتر کن</h2>
                        <p class="mb-0 h6 fw-light">بیایید امروز چیز جدیدی یاد بگیریم!</p>
                    </div>
                    <!-- SVG Image -->
                        <img src="{% static 'images/element/02.svg' %}" class="mt-5" alt="">
                    <!-- Info -->

                </div>
            </div>

            <!-- Right -->
            <div class="col-12 col-lg-6 m-auto">
                <div class="row mt-5">
                    <div class="col-sm-10 col-xl-8 m-auto">
                        <h2 class="">ثبت نام</h2>
                        <p class="mb-4">از دیدن شما خوشحالم! لطفا با حساب کاربری خود ثبت نام کنید.</p>

                        <!-- Form START -->
                        <form method="POST" action=".">
                            <script src="https://www.google.com/recaptcha/api.js?render=6LcFJzEnAAAAAI-8hoShDg728nMCH3kCXjv5Cjwa"></script>
<script type="text/javascript">
    var element
    grecaptcha.ready(function() {
        element = document.querySelector('.g-recaptcha[data-widget-uuid="936720f523e945219aa86a94d9cfd937"]');
        element.form.addEventListener('submit', recaptchaFormSubmit);
    });
    function recaptchaFormSubmit(event) {
        event.preventDefault();
        grecaptcha.execute('6LcFJzEnAAAAAI-8hoShDg728nMCH3kCXjv5Cjwa', {action: 'form'})
        .then(function(token) {
            console.log("reCAPTCHA validated for 'data-widget-uuid=\"936720f523e945219aa86a94d9cfd937\"'. Setting input value...")
            element.value = token;
            element.form.submit();
        });
    }
</script>
<input class="g-recaptcha"
    type="hidden"
    name="captcha"
     required_score="0.5" data-sitekey="6LcFJzEnAAAAAI-8hoShDg728nMCH3kCXjv5Cjwa" required id="id_captcha" data-widget-uuid="936720f523e945219aa86a94d9cfd937" data-callback="onSubmit_936720f523e945219aa86a94d9cfd937" data-size="normal">
                            <input type="hidden" name="csrfmiddlewaretoken" value="IzNyLUK0hnrvBmaF9NCYSLvrHgcRVcox1Qrp17KQlgqurXAHizWSHekdIx0KUxPM">
                            <!-- Email -->
                            <div class="mb-4">
                                <label for="exampleInputEmail1" class="form-label">ایمیل</label>
                                <div class="input-group input-group-lg">
                                    <span
                                        class="input-group-text bg-light rounded-start border-0 text-secondary px-3"><i
                                            class="fas fa-envelope"></i></span>
                                    <input type="email" class="form-control border-0 bg-light rounded-end ps-1 text-center"
                                        placeholder="***@gmail.com" id="exampleInputEmail1" name="email">
                                </div>
                            </div>
                            <!-- Password -->
                            <div class="mb-4">
                                <label for="inputPassword5" class="form-label">رمز عبور *</label>
                                <div class="input-group input-group-lg">
                                    <span
                                        class="input-group-text bg-light rounded-start border-0 text-secondary px-3"><i
                                            class="fas fa-lock"></i></span>
                                    <input type="password" class="form-control border-0 bg-light rounded-end ps-1 text-center"
                                        placeholder="*********" id="inputPassword5" name="password1">
                                </div>
                            </div>
                            <!-- Confirm Password -->
                            <div class="mb-4">
                                <label for="inputPassword6" class="form-label">تایید رمز عبور *</label>
                                <div class="input-group input-group-lg">
                                    <span
                                        class="input-group-text bg-light rounded-start border-0 text-secondary px-3"><i
                                            class="fas fa-lock"></i></span>
                                    <input type="password" class="form-control border-0 bg-light rounded-end ps-1 text-center"
                                        placeholder="*********" id="inputPassword6" name="password2">
                                </div>
                            </div>
                            <!-- Check box -->
                            <div class="mb-4">
                                <div class="form-check">
                                    <label class="form-check-label" for="checkbox-1">با ثبت نام <a href="/policy-and-privacy">شرایط و
                                            قوانین سایت</a> را خواهید پذیرفت.</label>
                                </div>
                            </div>
                            <!-- Button -->
                            <div class="align-items-center mt-0">
                                <div class="d-grid">
                                    <button class="btn btn-primary mb-0" type="submit">ثبت نام</button>
                                </div>
                            </div>
                        </form>
                        <!-- Form END -->

                        <!-- Social buttons -->
                        <div class="row">
                            <!-- Divider with text -->
                            <div class="position-relative my-4">
                                <hr>
                                <p class="small position-absolute top-50 start-50 translate-middle bg-body px-5">یا</p>
                            </div>
                            <!-- Social btn -->
                            <div class="col-xxl-6 d-grid">
                                <a href="#" class="btn bg-google mb-2 mb-xxl-0 disabled bg-light"><i
                                        class="fab fa-fw fa-google text-white me-2"></i>ورود با Google</a>
                            </div>
                            <!-- Social btn -->
                            <div class="col-xxl-6 d-grid">
                                <a href="#" class="btn bg-facebook mb-0 disabled bg-light"><i
                                        class="fab fa-fw fa-linkedin me-2"></i>ورود با
                                    linkedin</a>
                            </div>
                        </div>

                        <!-- Sign up link -->
                        <div class="mt-4 text-center">
                            <span>آیا قبلا ثبت نام کرده اید؟<a href="/accounts/login/"> ورود</a></span>
                        </div>
                        <div class="mt-4 text-center">
                            <span><a class="btn btn-primary btn-sm" href="/"> بازگشت به وبسایت</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




    </main>

        <script src="{% static 'CACHE/js/output.637c399a1021.js' %}"></script>
    
    <script src="https://www.google.com/recaptcha/api.js?render=6LcFJzEnAAAAAI-8hoShDg728nMCH3kCXjv5Cjwa"></script>
    
    


</body>



</html>